<%- include('../partials/head') %>

  </head>
  <body>
   <%- include('../partials/nav') %>

    <h1>add your home here</h1>
    <form action="/addHome" method="POST">
      <label for="housename">housename</label>

      <input
        type="text"
        name="housename"
        id="housename"
        placeholder="enter your housename"
      />
      <label for="price">price per night</label>

      <input
        type="text"
        name="price"
        id="price"
        placeholder="enter price per night"
      />
      <label for="location">location</label>

      <input
        type="text"
        name="location"
        id="location"
        placeholder="enter location"
      />
      <label for="rating">rating</label>

      <input
        type="number"
        name="rating"
        id="rating"
        placeholder="enter your rating"
      />
      
      <button type="submit" class="bg-red text-4xl">add</button>
    </form>
  </body>
</html>
